<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ubah Jabatan</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<link href="https://fonts.googleapis.com/css?family=Muli"
	rel="stylesheet">
</head>

<body background="bg.jpg" style="font-family: Muli;">
	<nav th:replace="fragments/fragment :: navbar"></nav>

	<h2>Ubah Pegawai</h2>
	<br>

	<form th:action="@{/pegawai/ubah(nip=${pegawai.nip})}"
		th:object="${pegawai}" method="POST">
		<input type="hidden" th:field="*{id}" />
		<table width=500>
			<tr>
				<td>Nama</td>
				<td><input type="text" name="nama" th:value="${pegawai.nama}" /></td>
			</tr>
			<tr>
				<td>Tempat Lahir</td>
				<td><input type="text" name="tempat_lahir"
					th:value="${pegawai.tempatLahir}" /></td>
			</tr>
			<tr>
				<td>Tanggal Lahir</td>
				<td><input type="date" name="tanggal_lahir"
					th:value="${pegawai.tanggalLahir}" /></td>
			</tr>
			<tr>
				<td>Tahun Masuk</td>
				<td><input type="number" min="1900" max="2018" value="2018"
					name="tahun_masuk" th:value="${pegawai.tahunMasuk}" /></td>
			</tr>
			<tr>
				<td>Provinsi</td>
				<td><select type="text" name="provinsi" id="provinsi">
						<option th:each="provinsi : ${listProvinsi}"
							th:value="${provinsi.id}" th:text="${provinsi.nama}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Nama Instansi</td>
				<td><select type="text" name="instansi" id="instansi">
						<option th:each="instansi : ${listInstansi}"
							th:value="${instansi.id}" th:prov="${instansi.provinsi.id}"
							th:text="${instansi.nama}"></option>
				</select></td>
			</tr>
			<tr>
				<td>Jabatan</td>
				<td><select type="text" name="jabatan">
						<option th:each="jabatan : ${listJabatan}"
							th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
				</select></td>
			</tr>
		</table>
		<br>
		<button type="submit" class="btn btn-primary"
			style="background-color: #5E758C; border-color: #5E758C;">Simpan</button>
	</form>

</body>

<script>
	$('#provinsi').on('click', function() {
		$('#instansi').children('option').each(function() {
			if ($(this).attr('prov') !== $('#provinsi').val())
				$(this).attr('disabled', 'disabled').hide();
			else
				$(this).removeAttr('disabled')
		})
	})

	$('#provinsi').trigger('click')
</script>

</html>